body {
  /* 余白 */
  margin: 0.5em;
  /* フォント(優先度順) */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* safariなどのwebkit系のアンチエイリアス有効化 */
  -webkit-font-smoothing: antialiased;
  /* firefoxでのグレイスケイル有効化 */
  -moz-osx-font-smoothing: grayscale;
  /* 背景色 */
  background-color: #333333;
  /* 文字色 */
  color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
